node_modules/*
*/dist/*
*.user.js
build/*.js
docs/.vuepress/*.js
docs/.vuepress/.temp/*
prebuild/*.js
scripts/**/*.js
src/userscript.js
src/config.js
static/fontawesome_free_6.0.0_all.min.js

src/modules/support/*
src/modules/renameFz/*
