.DS_Store
node_modules
/dist
package-lock.json
/static/db_access.php
/static/.configs.json
/static/.check_request.php
/static/beta.php
/static/lssm-v4.local.user.js
/admin/
/src/userscript.js
/src/userscript.js.map
LSSM_V4.zip
dist.zip
.eslintcache

# docs files
/docs/*/modules
/docs/.vuepress/.cache
/docs/.vuepress/.temp
/docs/.vuepress/dist
/docs/.vuepress/node_modules
/docs/.vuepress/public/assets/*
/docs/.vuepress/components/.temp

# TypeScript Outputs
webpack.config.js*
build/**/*.js*
typings/**/*.js*
prebuild/**/*.js
prebuild/**/*.js.map
src/config.js*
src/i18n/*.js
docs/.vuepress/*.js
docs/.vuepress/*.js.map
scripts/**/*.js
scripts/**/*.js.map

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.directory

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
