.DS_Store
node_modules
/dist
package-lock.json
/docs/*/modules
/docs/.vuepress/public/assets/*
/static/db_access.php
/static/.configs.json
/static/.check_request.php
/static/beta.php
/admin/
/src/userscript.js

# TypeScript Outputs
webpack.config.js*
build/index.js*
typings/**/*.js*
prebuild/**/*.js*
src/config.js*
docs/.vuepress/*.js*
scripts/**/*.js*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.directory

yarn.lock
