RewriteEngine On
RewriteRule "^(((?!^static/)(?!^admin/).*\.(php|user\.js))|(missions/[a-z]{2}_[A-Z]{2}\.json))$" "./static/$0" [L]

DirectoryIndex "/docs/de_DE/index.html"

ErrorDocument 404 "/docs/de_DE/index.html"

<FilesMatch "^(.*/)*\.">
	Order allow,deny
	Deny from all
</FilesMatch>
