RewriteEngine On
RewriteRule "^(((?!^static/)(?!^admin/).*\.(php|user\.js))|((missions|releasenotes)/[a-z]{2}_[A-Z]{2}\.json))$" "./static/$0" [L]
RewriteRule "^.._../(.*)$" "$1" [L]

ErrorDocument 404 /docs/404.html

<FilesMatch "^(.*/)*\.">
	Order allow,deny
	Deny from all
</FilesMatch>
