:root {
    --content-width: 790px;

    --search-input-width: 15rem !important;
}

.theme-default-content:not(.custom),
.page-meta,
.page-nav {
    max-width: 920px
}

tr:nth-child(2n) code {
    background-color: var(--c-bg);
}
