@import "~vuepress-theme-yuu/styles/variables.styl"

.yuu-theme-red .go-to-top {
    color: $redAccentColor !important
}
.yuu-theme-blue .go-to-top {
    color: $blueAccentColor !important
}
.yuu-theme-purple .go-to-top {
    color: $purpleAccentColor !important
}

.yuu-theme-dark tr:nth-child(2n) code {
    background-color: $darkPrimaryBg
}
