name: Build and Deploy

on:
    push:
      branches:
        - 'master'
        - 'dev'

jobs:
    build:
        if: ${{ !contains(github.event.head_commit.message, 'skip ci') || !contains(github.event.head_commit.message, 'ci-push') }}
        uses: ./.github/workflows/build.yml
        secrets: inherit

    deploy:
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            - name: Install apt packages
              run: sudo apt-get install -y unzip rsync

            - name: Download artifact
              uses: actions/download-artifact@v2
              with:
                  name: LSSM_V4-${{ github.sha }}

            - name: Unzip artifact
              run: |
                unzip dist.zip -d ${{ github.workspace }}/dist
                rm dist.zip


            - name: list content of dist
              if: ${{ github.ref == 'refs/heads/dev' }}
              run: ls -la dist

            - name: Install SSH Key
              uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.SSH_DEPLOY_KEY }}
                  known_hosts: 'placeholder to avoid errors'
                  if_key_exists: replace

            - name: Adding Known Hosts
              run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

            - name: Deployment
              if: ${{ success() }}
              run: rsync -ruthz --stats --progress -e "ssh -v" ./dist/dist/ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/${{ needs.build.outputs.type }}

